<div class="backdrop" (click)="closeNewsletterSub()"></div>
<div class="newsletter-sub-window">
  <div class="close-button" (click)="closeNewsletterSub()">
    x
  </div>
  <h2>
    Melde dich jetzt an
  </h2>
  <p>
    Über unseren Newsletter erfährst du (fast) als erster wann und wo das nächste Konzert stattfindet. Wenn es mal News gibt erhälst du die auch, aber wir werden dich auf keinen Fall zuspamen ;)
  </p>
  <p>
    Gib einfach hier deine e-mail Adresse ein und du bist dabei.
  </p>
  <input type="text" placeholder="max.muster@gmail.com" (keydown.enter)="submitNewsletterSub()" (keydown.escape)="closeNewsletterSub()">
  <div class="button" (click)="submitNewsletterSub()">
    <div class="text">
      Anmeldung absenden
    </div>
  </div>
</div>
