
<main>
  <header>
    <div class="background">
      <!-- <img src="./../../assets/img/frequenzdieb_concert_2.jpg" alt=""> -->
    </div>
    <h2 class="date">
      31.05<br>
      2020
      <div class="shadow"></div>
    </h2>
    <h3 class="next-concert">
      Nächstes<br>
      Konzert
    </h3>
    <div class="ticket-button">
      <div class="text">
        Tickets
      </div>
    </div>
    <!-- <div class="play-button">
      <div class="circle"></div>
      <div class="triangle"></div>
      <div class="line"></div>
      <div class="text">
        reinhören
      </div>
    </div> -->
    <!-- <div class="player">
      <div class="progress-bar">
        <div class="progress"></div>
      </div>
      <div class="song-title">
        Rock'n'Roll Queen
      </div>
      <div class="duration">
        3:31
      </div>
    </div> -->
  </header>
  <!-- <article>
    <section id="about">
      <h2>
        Musik macht Freude und Freude mehrt sich wenn man sie teilt, dafür spielen wir. <div class="button" routerLink="/band">
          <div class="text">
            mehr über uns
          </div>
        </div>
      </h2>
    </section>
    <section id="next-concert">
      <div class="col">
        <h2>
          Nächstes Konzert
        </h2>
        <h3>
          2.11.2019
        </h3>
      </div>
      <div class="col">
        <div class="button light" routerLink="/tickets">
          <div class="text">
            Jetzt anmelden
          </div>
        </div>
      </div>
    </section>
    <section id="more">
      <div class="col" routerLink="/blog">
        <h3 class="button light">
          Blog
        </h3>
        <div class="bg-image">
          <img src="./../../assets/img/frequenzdieb_raph_1.jpg" alt="">
        </div>
      </div>
      <div class="col" routerLink="/gallerie">
        <h3 class="button light">
          Bilder
        </h3>
        <div class="bg-image">
          <img src="./../../assets/img/frequenzdieb_crowd.jpg" alt="">
        </div>
      </div>
    </section>
  </article> -->
</main>
