<div class="mat-app-background">
  <div class="container">
    <mat-toolbar color="primary" class="toolbar">
      <button mat-icon-button (click)="sideNavComponent.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="app-name">Bouncer</h1>
    </mat-toolbar>

    <mat-sidenav-container [style.marginTop.px]="54">
      <mat-sidenav [mode]="'over'" [fixedInViewport]="true" fixedTopGap="54">

        <mat-nav-list>
          <a mat-list-item routerLink="{{ NavRoute.LOGOUT }}" [class.disabled]="isNavLogoutDisabled">
            <mat-icon>account_circle</mat-icon><span i18n="main navigation|logout button@@NavBtnLogout">Logout</span>
          </a>
          <a mat-list-item routerLink="{{ NavRoute.SCAN }}" [class.disabled]="isNavScannerDisabled">
            <mat-icon>control_camera</mat-icon><span i18n="main navigation|scan tickets button@@NavBtnScanTickets">Scan Tickets</span>
          </a>
          <a mat-list-item routerLink="{{ NavRoute.SYNC }}" [class.disabled]="isNavSyncDisabled">
            <mat-icon>sync</mat-icon><span i18n="main navigation|synchronize data button@@NavBtnSyncData">Synchronize Data</span>
          </a>
          <a mat-list-item routerLink="{{ NavRoute.LOGS }}" [class.disabled]="isNavLogsDisabled">
            <mat-icon>history</mat-icon><span i18n="main navigation|scanned tickets log button@@NavBtnScannedTicketsLog">Ticket Scan Log</span>
          </a>
        </mat-nav-list>

      </mat-sidenav>

      <mat-sidenav-content class="basic-container">
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
