<main class="sub-page-main">
  <header>
    <div class="titles">
      <h2>
        Der Frequenzdieb Blog
      </h2>
      <h3>
        News, Updates, alles im Halbjahrestakt
      </h3>
    </div>
  </header>
  <article class="blog-post-container">
    <section class="blog-post">
      <div class="image">
        <img src="" alt="">
      </div>
      <h3 class="title">

      </h3>
      <div class="date">

      </div>
      <p class="desc">

      </p>
      <div class="cta">
        weiterlesen…
      </div>
    </section>
  </article>
</main>
