<header>
  <nav>
    <div routerLink="/home" class="logo">
      Frequenzdieb
    </div>
    <ul>
      <li>
        <a routerLink="/band" routerLinkActive="active">Die Band</a>
      </li>
      <li>
        <a routerLink="/blog" routerLinkActive="active">Blog</a>
      </li>
      <li>
        <a routerLink="/gallerie" routerLinkActive="active">Bildgallerie</a>
      </li>
      <li>
        <a routerLink="/tickets" routerLinkActive="active">Tickets</a>
      </li>
      <li>
        <a routerLink="/kontakt" routerLinkActive="active">Kontakt</a>
      </li>
    </ul>
  </nav>

</header>
