.scanner-container {
  width: 350px;
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

.hide-scanner {
  display: none;
}
