/* You can add global styles to this file, and also import other style files */

@import 'projects/ui/src/variables';
@import 'projects/ui/src/styles/sub-page';
@import 'projects/ui/src/styles/utility-page';
@import 'projects/ui/src/styles/popup';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$frequenzdieb-ui-primary: mat-palette($mat-indigo);
$frequenzdieb-ui-accent: mat-palette($mat-amber, A200, A100, A400);

// The warn palette is optional (defaults to red).
$frequenzdieb-ui-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$frequenzdieb-ui-theme: mat-light-theme(
  $frequenzdieb-ui-primary,
  $frequenzdieb-ui-accent,
  $frequenzdieb-ui-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($frequenzdieb-ui-theme);

/* You can add global styles to this file, and also import other style files */

h1,
h2,
h3,
h4,
h5,
h6,
figure,
figcaption,
p {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background: $white;
  color: $black;
  perspective: 500px;

  * {
    box-sizing: border-box;
  }

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $black;
    border: 2px solid $white;
    border-radius: 200px;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
