<main class="content-page">
  <header>
    <div class="text">
      <h2>
        Die Band
      </h2>
      <h3>
        Eine Coverband <br>
        wie keine andere
      </h3>
    </div>
  </header>
  <article class="">
    <section id="band-shot">
      <div class="image">
        <img src="./../../assets/img/frequenzdieb_groupshot.jpg" alt="">
      </div>
      <div class="band-member" id="silvan">
        <h3>
          Silvan
        </h3>
        <h4>
          Bass & Synth
        </h4>
      </div>
      <div class="band-member" id="ben">
        <h3>
          Ben
        </h3>
        <h4>
          Guitar & Vocals
        </h4>
      </div>
      <div class="band-member" id="robin">
        <h3>
          Robin
        </h3>
        <h4>
          Vocals & Guitar
        </h4>
      </div>
      <div class="band-member" id="raphael">
        <h3>
          Raphael
        </h3>
        <h4>
          Drums & Rage
        </h4>
      </div>
      <div class="band-member" id="luc">
        <h3>
          Luc
        </h3>
        <h4>
          Keys & Synth
        </h4>
      </div>
    </section>
    <section id="about">
      <div class="text">
        <h3>
          Wir spielen zur Freude und manchmal freut sich sogar das Publikum mit
        </h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quas tempore adipisci, laborum consequatur
          temporibus voluptates beatae, fugit commodi doloremque porro? Ipsam ipsa harum, sed voluptatibus non id
          distinctio similique!
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nisi nobis voluptatem quo quidem qui
          reprehenderit eligendi officia minima non quaerat, aliquid, corporis velit vel ratione excepturi.
          Voluptatibus, beatae, dolor.
        </p>
      </div>
      <div class="image one">
        <img src="./../../assets/img/frequenzdieb_ben_1.jpg" alt="">
      </div>
      <div class="image two">
        <img src="./../../assets/img/frequenzdieb_silvan_2.jpg" alt="">
      </div>
    </section>
    <section id="spacer"></section>
  </article>
</main>
