@import '../../../variables';

.ticket-purchase-window {
  box-sizing: border-box;
  .button {
    margin-top: 20px;
  }
  .stage-indicator {
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    .dot {
      width: 12px;
      height: 12px;
      background: $lightgray;
      border-radius: 50%;
      margin: 0 12px;
      &.active {
        background: $gray;
      }
    }
  }
  form {
    transition: $t;
    height: 50vh;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    position: relative;
    .recaptcha-container {
      display: flex;
      justify-content: center;
    }
    .smallprint {
      margin-bottom: 15px;
      input {
        display: inline;
        width: auto;
      }
      p {
        a {
          color: $blue;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    label {
      display: block;
      text-align: left;
      margin: 22px 0;
      &.small {
        font-size: 16px;
        margin: 16px 0;
        input {
          font-size: 16px;
          padding: 6px 9px;
        }
      }
      input {
        margin: 0;
      }
    }
    .stage {
      position: absolute;
      top: 15px;
      transition: $t;
      width: 100%;
      &.left,
      &.right {
        left: 0;
        transform: translate(-100%);
        opacity: 0;
      }
      &.right {
        transform: translate(100%);
      }
      &.visible {
        position: absolute;
        transform: translate(0);
        opacity: 1;
      }
      .ticket-cart {
        width: 100%;
        margin: 30px 0;
        .total {
          font-weight: bold;
          margin: 12px 0;
          text-align: right;
        }
        .cart-item {
          background: $white;
          padding: 9px 18px;
          width: 100%;
          border: 2px solid $black;
          display: flex;
          white-space: nowrap;
          align-items: center;
          justify-content: space-between;
          .name {
            font-weight: bold;
          }
          .amount-button {
            width: 35px;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            height: 35px;
            border-radius: 50%;
            background: $yellow;
            font-size: 30px;
            cursor: pointer;
            &:hover {
              color: $white;
              background: $black;
            }
          }
          input {
            display: inline-block;
            padding: 5px;
            font-size: 16px;
            margin: 0 12px;
            width: 45px;
          }
          .amount {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}
