@import 'projects/ui/src/variables';

nav {
  position: fixed;
  z-index: 80;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  .menu-button {
    display: none;
  }
  .logo {
    width: 240px;
    position: relative;
    left: 20px;
    top: 20px;
    cursor: pointer;

    &:hover {
      animation: wiggle 1s linear infinite;
    }

    img {
      width: 100%;
      height: auto;
    }

    &:focus {
      outline: none;
    }
  }

  ul {
    position: relative;
    right: 30px;
    top: 0px;
    padding: 0;
    list-style-type: none;
    li {
      display: inline-block;

      a {
        display: inline-block;
        font-size: 16px;
        text-transform: uppercase;
        color: #fff;
        text-decoration: none;
        // padding: 15px;
        position: relative;
        cursor: pointer;
        &.mobile-only {
          display: none;
        }
        &.button {
          background: transparent;
          border-color: $black;
          color: $black;
          padding: 12px 24px;
          top: 15px;
          border-radius: 50px;
          font-weight: bold;
          transition: $t;
          border: 2px solid $black;
          cursor: pointer;
          white-space: nowrap;
          .text {
            transition: $t;
            font-size: 16px;
            letter-spacing: 1px;
            position: relative;
          }
        }

        &:hover {
          transform: scale(0.9);
          background: $black;

          .text {
            color: $white;
            transform: scale(1.1);
            letter-spacing: 1px;
          }

          &::after {
            display: none;
          }
        }

        // &::after {
        //   position: absolute;
        //   left: 15px;
        //   right: 15px;
        //   height: 2px;
        //   background: #fff;
        //   content: "";
        //   transition: $pew;
        //   transform: scaleX(0);
        //   bottom: 10px;
        // }
        // &:hover {
        //   &::after {
        //     transform: scaleX(0.6);
        //   }
        // }
        &.active {
          &::after {
            transform: scaleX(1);
          }
        }
      }
    }
  }
}

@media (max-width: $mobile-breakpoint) {
  nav {
    justify-content: center;
    flex-wrap: wrap;
    .menu-button {
      display: block;
      width: 48px;
      height: 40px;
      padding: 8px;
      display: flex;
      justify-items: space-between;
      justify-content: center;
      position: fixed;
      top: 30px;
      right: 30px;
      flex-wrap: wrap;
      cursor: pointer;
      &.close {
        .line {
          &:nth-child(1) {
            transform: rotate(45deg) translate(4px, 8px);
          }
          &:nth-child(2) {
            transform: scaleX(0);
          }
          &:nth-child(3) {
            transform: rotate(-45deg) translate(4px, -8px);
          }
        }
      }
      .line {
        height: 2px;
        width: 100%;
        background: $black;
        transition: $t;
      }
    }
    .page-navigation {
      width: 100%;
      text-align: center;
      right: auto;
      position: fixed;
      background: $yellow;
      height: 0;
      top: 0;
      margin: 0;
      left: 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding: 0 0;
      transition: $t 0.2s;
      &.open {
        height: 100%;
        padding: 30% 0;
        transition: $t;
        li {
          opacity: 1;
          transform: translate(0);
          &:nth-of-type(1) {
            transition: $t 0.1s;
          }
          &:nth-of-type(2) {
            transition: $t 0.2s;
          }
          &:nth-of-type(3) {
            transition: $t 0.3s;
          }
          &:nth-of-type(4) {
            transition: $t 0.4s;
          }
          &:nth-of-type(5) {
            transition: $t 0.5s;
          }
        }
      }
      li {
        display: block;
        width: 100%;
        position: relative;
        transform: translate(20px);
        opacity: 0;
        &:nth-of-type(1) {
          transition: $t 0.1s;
        }
        &:nth-of-type(2) {
          transition: $t 0.1s;
        }
        &:nth-of-type(3) {
          transition: $t;
        }
        &:nth-of-type(4) {
          transition: $t;
        }
        &:nth-of-type(5) {
          transition: $t;
        }
        a {
          position: relative;
          margin-bottom: 32px;
          &:hover {
            background: none;
          }
          &.mobile-only:not(.button) {
            display: block;
            color: $black;
            text-transform: none;
          }
          &.button {
            font-size: 16px;
            position: static;
            &.mobile-only {
              display: inline-block;
            }
            &:hover {
              .text {
                color: $black;
              }
            }
          }
        }
      }
    }
  }
}
