<footer>
  <h1>
    Frequenzdieb
  </h1>
  <nav>
    <ul>
      <li>
        <a routerLink="/home">
          Home
        </a>
      </li>
      <li>
        <a routerLink="/band">
          Band
        </a>
      </li>
      <li>
        <a routerLink="/blog">
          Blog
        </a>
      </li>
      <li>
        <a (click)="openNewsletterSub()">
          Newsletter
        </a>
      </li>
      <li>
        <a routerLink="/gallerie">
          Gallerie
        </a>
      </li>
      <li>
        <a routerLink="/kontakt">
          Kontakt
        </a>
      </li>
      <li>
        <a routerLink="/tickets">
          Tickets
        </a>
      </li>
    </ul>
  </nav>
</footer>
